* {
    margin: 0;
    padding: 0;
    color: rgba(48, 182, 159, 0.932);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgba(216, 245, 226, 0.384);
    display: flex;
    justify-content: center;
    text-align: center;
}

#myTime{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px;
}

#time {
    margin-top: 50px;
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    gap: 5vw;
}


#message{
    font-size: 50px;
    margin-top: 15px;
    display:none;
}

#message_text{
    padding: 50px;
}

#btn{
    padding: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(68, 148, 131);
    border-color:  rgb(68, 148, 131);
    display:none;
    zoom:500%;
    margin-top: 20px;
    border-radius: 4px;
}

#btn:hover{
    background-color: rgba(68, 148, 131, 0.425);
    border-color: rgba(68, 148, 131, 0.404);
}

h2{
    font-size: 60px;
    gap: 5px;
}

.text{
    animation: changeColour 15s infinite; 
    margin-top: 50px;
    font-size: 55px;
    text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 2px;
}

img{
    width: 300px;
    height: 300px;
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.card{
    margin-top: 150px;
    margin-bottom: 50px;
    padding: 100px 0 250px 0;
    border-radius: 20px;
    background-color: #74c4b8;
    box-shadow: #60b6a83a 0px 5px 15px;
}

.card:hover{
    background-color: #74c4b838;
}

p{
    color: #74c4b8;
    font-size: 35px;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes changeColour {
    from {color: rgb(211, 228, 227);}
    to {color:#60B6A8;}

    0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.5, 1.5);
      }
      100% {
        transform: scale(1, 1);
      }
}
