* {
    margin: 0;
    padding: 0;
    color: rgba(240, 255, 255, 0.932);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgba(43, 42, 42, 0.979);
    display: flex;
    justify-content: center;
    text-align: center;
}

#myTime{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px;
}

#time {
    margin-top: 50px;
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    gap: 5vw;
}


#message{
    font-size: 50px;
    margin-top: 15px;
    display:none;
}

#message_text{
    padding: 50px;
}

#btn{
    color: white;
    background-color: black;
    zoom: 500%;
    animation-name: spin;
    animation-duration: 15000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    border-radius: 5px;
    display:none;
    margin-top: 20px;
}

#btn_test{
    margin-top: 100px;
    color: white;
    background-color: black;
    border-radius: 5px;
    zoom: 200%;
}

#btn:hover{
    animation-duration: 0ms;
}

h2{
    font-size: 60px;
    gap: 5px;
}

.text{
    color: white;
    animation: changeColour 15s infinite;
    margin: 10px;    
}

img{
    width: 300px;
    height: 300px;
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

img:hover{
    width: 300px;
    height: 300px;
    margin: 50px;
    animation-name: spin;
    animation-duration: 0ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes changeColour {
    from {color: white;}
    to {color:#60B6A8;}

    0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.5, 1.5);
      }
      100% {
        transform: scale(1, 1);
      }
}